<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Appointment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    {% include 'myapp/navbar.html' %}
    <div class="container">
        <h1 class="teal-text">Edit Appointment</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.destination.label_tag }}
                    {{ form.destination }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.date.label_tag }}
                    <input type="text" id="id_date" name="date" class="datepicker" value="{{ form.date.value|date:'Y-m-d' }}">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="id_notes">Notes:</label>
                    <!-- Use Django's template rendering syntax to render the form field -->
                    {{ form.notes }}
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Update Appointment</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {
                format: 'yyyy-mm-dd',
                minDate: new Date(),
                showClearBtn: true
            });
        });
    </script>
</body>
</html>
